@model IEnumerable<Guest>



@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<p>Add to guestbook here: <a asp-action="Add">Add</a></p>

<div>
    <h2>Form sent in:</h2>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


@section Styles
{
     <link rel="stylesheet" href="~/css/guestbook.css"/>    
}